@define-color primary #5ebcbf;
@define-color secondary #686869;
@define-color third #393c44;

* {
  font-family: "Varino"; /* `otf-font-awesome` es necesario para los íconos */
  /*font-weight: 800;*/
  font-weight: bold;
  font-size: 10px;
  min-height: 0;
}

/* El bar completo: Estilo del waybar en general */
#waybar {
  background: rgba(25, 25, 25, 0.78);
  color: #ffffff;
  border-radius: 0px;
  border-bottom: 0px solid rgb(255, 255, 255);
  margin-bottom: 0px;
}

/* Módulos centrales */
.modules-center {
  background-color: transparent;
}

/* Módulos de la derecha */
.modules-right {
  background-color: transparent;
}

/* Espacios de trabajo */
#workspaces {
  font-size: 25px;
  background-color: transparent;
}

/* Botones de los espacios de trabajo */
#workspaces button {
  border-radius: 0px;
  background-color: transparent;
  color: @secondary;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

/* Espacios de trabajo activos */
#workspaces button.active {
  color: @primary;
  background-color: transparent;
  border-bottom: 3px solid #5ebcbf;
}

/* Espacios de trabajo vacíos */
#workspaces button.empty {
  color: #393c44;
  background-color: transparent;
}

#window {
  font-size:12px;
  color: @secondary; 
  border-radius: 5px;
  border: 0px solid #686869;
  padding-right: 15px;
  padding: 0px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
}

#clock {
  color: @secondary;
  background-color: transparent;
  margin-right: 10px;
}


#custom-screenshot_t {
  color: @secondary;
  font-size: 20px;
  margin: 0 3 0 7px;
  padding: 0 5 0 0px;
}


#taskbar {
  background-color: transparent;
  margin: 0px;
  border-radius: 50px;
}

#taskbar button {
  min-width: 20px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
  border-bottom: 3px solid #5ebcbf;
  background: transparent;
  border-radius: 0px;
}

#taskbar button:hover {
  border-bottom: 3px solid white;
  background: transparent;
  border-radius: 0px;
}

#memory {
  font-size: 12px;
  color: @primary;
  background-color: @third;
  padding: 0 4 0 4px;
  margin: 7 0 7 0px;
  border-top: 2px solid @secondary;
  border-left: 2px solid @secondary;
  border-bottom: 2px solid @secondary;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#pulseaudio {
  color: @primary;
  background-color: @third;
  font-size: 12px;
  padding: 0 4 0 4px;
  margin: 7 0 7 0px;
  border-top: 2px solid @secondary;
  border-bottom: 2px solid @secondary;
  
}

#backlight {
  color:  @primary;
  background-color: @third;
  font-size: 12px;
  padding: 1 4 0 0px;
  margin: 7 0 7 0px;
  border-top: 2px solid @secondary;
  border-bottom: 2px solid @secondary;
  border-right: 2px solid @secondary;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#custom-logo-backlight{
  color:  @primary;
  background-color: @third;
  font-size: 15px;
  margin: 7 0 7 0px;
  padding: 0 6 0 4px;
  border-top: 2px solid @secondary;
  border-bottom: 2px solid @secondary;
}


#bluetooth {
  color: @primary;
  background-color: @third;
  font-size: 12px;
  padding: 0 4 0 4px;
  margin: 7 0 7 0px;
  border-top: 2px solid @secondary;
  border-bottom: 2px solid @secondary;
}

#custom-logo-help {
  color: #04f7ff;
  font-size: 20pt;
  margin: 3px 10px;
}

#bluetooth.disconnected {
  color: #f53c3c;
}



#tray {
  font-size: 12px;
  color: @primary;
  background-color: @third;
  padding: 0 4 0 4px;
  margin: 7 0 7 5px;
  border-top: 2px solid @secondary;
  border-left: 2px solid @secondary;
  border-bottom: 2px solid @secondary;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#cava {
  color:  @primary;
  background-color: @third;
  font-size: 8px;
  margin: 7 5 7 5px;
  padding: 0 8 0 5px;
  border-radius: 20px;
  border: 2px solid @secondary;
}

#custom-gammastep {
  color: @secondary;
  font-size: 20px;
  padding: 0 5 0 5px;
  margin: 0 5 0 5px;
}
#custom-gammastep.enabled {
  color: #04f7ff;
  font-size: 20px;
  padding: 0 5 0 5px;
  margin: 0 5 0 5px;
}

#custom-logo-adds-ons {
  color: @primary;
  font-size: 25px;
  background-color: transparent;
  padding: 0 0 0 0px;
  margin: 0 5 0 0px;
}

#power-profiles-daemon{
  font-size: 17px;
  padding:0 7 0 7px;
  margin: 0 5 0 5px
}
#power-profiles-daemon.performance{
  color: #cc4a4a;
}
#power-profiles-daemon.balanced{
  color: #ffe204;
}
#power-profiles-daemon.power-saver{
  color: #3bffa4;
}


#network {
  font-size: 18px;
  color: @secondary;
  padding-left: 5px;
  padding-right: 3px;
  margin: 0px 10px;
  background-color: transparent;
}

#network.disconnected {
  color: #f53c3c;
}

#custom-wlogout{
  color: @primary;
  font-size: 20px;
  margin-right: 15px;
}

#battery {
  font-size: 18px;
  color: @secondary;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 15px;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: @primary;
  background-color: transparent;
}

@keyframes blink {
  to {
      background-color: rgba(30, 34, 42, 0.5);
      color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-updates {
  color:  @primary;
  background-color: @third;
  font-size: 12px;
  padding: 1 12 0 0px;
  margin: 7 0 7 0px;
  border-top: 2px solid @secondary;
  border-bottom: 2px solid @secondary;
  border-right: 2px solid @secondary;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}